.about{
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 6vw 28vw 6vw 28vw;

}

.title{
    font-size: 3vw;
    padding: 0 0 5vw 0;
    text-align: center;
}

.text{
    font-size: 1.5vw;
    text-align: left;
    margin-bottom: 2vw;
    
}


.contact{
    justify-content: space-evenly;
    padding: 5vw 5vw 5vw 15vw;
    font-size: 1.5vw;
}

.textcont{

    margin-top: 20px;
    text-align: justify;
    
}

.spacer{
    padding-top: 120px;
}




@media (max-aspect-ratio:1/1){
    .about{
        padding: 10vh 10vh 6vh 10vh;
    }

    .title{
        font-size: 3vh;
    }

    .text{
        font-size: 1.5vh;

        
    }
    .contact{
        font-size: 1.5vh;
    }
}
