.about{
    background-color: rgb(235, 235, 235);
    width: 100%;
    padding: 6vw 28vw 6vw 28vw;

}

.title{
    font-size: 2.5vw;
    padding: 0 0 5vw 0;
    text-align: center;
}

.text{
    font-size: 1.6vw;
    text-align: left;
    margin-bottom: 2vw;
    
}


.contact{
    justify-content: space-evenly;
    padding: 50px 10% 100px 10%;
}

.textcont{

    margin-top: 20px;
    text-align: justify;
    
}

.spacer{
    padding-top: 120px;
}



@media (max-aspect-ratio:6/7){
    .about{
        padding: 80px 40px 80px 40px;
    }
}
