.bot_nav{
    width: 100%;
    background-color:rgb(252, 252, 252);
    display: flex;
    justify-content: left;
    align-items: center;
    top: 0;
    list-style: none;
    padding: 5px 0px 5px 0px;
}

.work_type_nav{
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.navbar_link_bot{
    transition: color 0.2s ease, font-size 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    color: #000;
}


.selected{
    color:rgb(214, 214, 214);
}

.navbar_link_bot:hover{
    transition: color 0.5s ease, font-size 0.5s ease;
    color: rgb(46, 43, 222);
    font-size: 1.1rem;
    padding: 0 0.8rem 0 0.8rem;
}


@media (max-aspect-ratio:6/7){

    .navbar_link_bot{
        font-size: 0.7rem;
        padding: 0 0.4rem;
    }
    .navbar_link_bot:hover{
        color: rgb(119, 119, 119);
        font-size: 0.7rem;
        padding: 0 0.4rem;
    }
    .bot_nav{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        top: 0;
        list-style: none;
        padding: 0px 0px 0px 0px;
    }
}