.worktitle{
    padding: 30vh 0 0 5vw;
    font-size: 3vh;

}

.workdate{
    font-size: 2vh;
    padding: 0.5vw 1vw 1vw 5vw;

}

.textbox{
    margin: 3vw 5vw 3vw 0vw;
    min-height: 10vw;
    align-content: left;
    justify-self: baseline;
    align-self: self-start;
    text-align: justify;
    font-size: 2vh;
}



.text_blankline{
    height: 15px;
}


.image_grid{
    
    height: auto;
    width: auto;
    padding: 1vw 5vw 1vw 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}




.img_and_descript{
    width: 100%;
    text-align: left;
}

.img{
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 1.5vw;
}


.vid{
    width: 100%;
    height: auto;
    aspect-ratio: 15/10;
    border-radius: 1.5vw;
}




@media (max-aspect-ratio: 1/1) {
    .img_and_descript img {
        text-align: center;
        padding: 0px 0px 0px 0px;
        transition: none;
        border-radius: 0px;
        filter: blur(0px) contrast(100%) brightness(100%);
    }

    .vid{
        border-radius: 0px;
    }
    

    .image_grid{
        gap: 4vh;
        padding: 4vh 0px 5vh 0;
        grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
        
    }

    .textbox{

        margin: 6vh 5vw 5vh 7vh;
        min-height: 100px;
        align-content: center;
        text-align: left;
}
    .worktitle{
        padding: 30vh 0 0 7vh;
        font-size: 3vh;
        

}

    .workdate{
        font-size: 2vh;
        padding: 0.5vh 1vh 1vh 7vh;

}
}

.img_link{
    list-style: none;
    text-decoration:underline;
    color: #272727;
}

.img_link:hover{
    transition: color;
    color: rgb(175, 175, 175);
}


@media (max-aspect-ratio: 1/1.5) {
    .image_grid{
        padding: 20vw 0px 15vw 0px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
        font-size: 1.5vh;
    }
    .img_and_descript{
        text-align: center;
    }
    .img{
        border-radius: 0;
    }
        
    
    .img_and_descript img:hover {
            filter: blur(0px) contrast(100%) brightness(100%);
    }
    .worktitle{
        padding: 30vh 0 0 4vh;
        font-size: 3vh;
}

    .workdate{
        font-size: 2vh;
        padding: 0.5vh 1vh 1vh 4vh;
}
.textbox{
    margin: 6vh 4vw 5vh 4vh;
    min-height: 100px;
    align-content: center;
    text-align: left;
}

}
