.worktitle{
    padding: 200px 0 0 10%;
    font-size: 2rem;
}

.workdate{
    font-size: 1.5rem;
    padding: 20px 100px 0 10%;
    background-color: rgb(255, 255, 255);
}

.image_grid{

    padding: 50px 10% 120px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap:20px

}

.textbox{
    margin:50px 0 50px 10px;
    padding: 0; /* Remove default margin */
    height: 100%;
    width: 100%;
    align-content: center;
    text-align: left;
}

.img_and_descript{
    margin: 0 0 0 0; /* Remove default margin */
    text-align: center; /* Align the caption text to the left */
    max-width: 600px;
    width: 100%;
} 

.img{

    width: 100%;
    height: auto;
    max-width: 600px;
    aspect-ratio: 15/10;
}

.vid{

    width: 100%;
    height: auto;
    max-width: 600px;
    aspect-ratio: 3/2;  
}


.img_link{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
}

.img_link:hover{
    color: rgb(46, 43, 222);
}


@media (max-aspect-ratio:7/6){
    .image_grid{

        padding: 20px 0px 120px 0px;
        gap: 20px
    }
    .img_and_descript{
        padding: 0;
    }   
    .vid{
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
    }
    .img{
        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
    }
    .textbox{
        padding: 20px 50px 50px 50px; /* Remove default margin */
        width: 100%;
        align-content: center;
        text-align: left;
        font-size: 0.8rem;
        height: auto;
    }

    .worktitle{
        font-size: 1.5rem;
        padding: 200px 0 0 50px;
    }
    .workdate{
        font-size:1rem;
        padding: 10px 50px 0 50px;
    }
}
