*{
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 0;
    font-family: 'Kumbh Sans', sans-serif;

}

html {
    scroll-behavior: smooth;}

.main_tab{
    background-color:rgb(250, 250, 250);
    padding-top: 4vw;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.top_nav{

    padding: 0 10vw 0vw 10vw;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}

.left_nav{

    display: flex;
    justify-content: left;
    width: 100%;
    align-items:center;
    z-index: 1;

}

.right_nav{
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    z-index: 1;

}

.navbar_link{
    transition: color 0.2s ease;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1vw;
    height: 100%;
    color: #000000;
    font-size: 3vw;
}

.navbar_link:hover{
    transition: color 0.5s ease;
    color: rgb(46, 43, 222);
    padding: 0 1vw;
    font-size: 3.2vw;
    
}

.navbar_logo{
    width: 13vw;
    height: auto;
    aspect-ratio: 2/1;

}



.navbar_logo:hover{
    transition: color 0.2s ease;
    color: rgb(46, 43, 222);
}



@media (min-aspect-ratio:1/1){

    .main_tab{
        padding-top: 3vh;

    }

    .navbar_link{
        font-size: 2.2vh;
    }
    .navbar_link:hover{
        font-size: 2.3vh;
        
    }

    .navbar_logo{
        width: 8vw;

        height: auto;
        aspect-ratio: 2/1;
    }

    .top_nav{

        padding: 0 10vw 0vw 10vw;

    }
}

.custom-link {
    text-decoration: none; /* removes underline */
    color: #535252; /* change to any color you prefer */
  }

.custom-link:hover{
    color: #d1d1d1;
}
  

  
@media (max-aspect-ratio: 1/1.5) {
    .main_tab{
        padding-top: 2vh;

    }
}
    


