

.image_grid{
    height: auto;
    width: auto;
    padding: 20vw 5vw 15vw 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap: 3vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    font-size: 1.7vh;
}


.img_and_descript{
    width: 100%;
    align-items: start;
    text-align: left;
}

.img{
    margin-bottom: 0.4vw;
    width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    border-radius: 1.5vw;
}


.img_link{
    list-style: none;
    text-decoration: none;
    color: #000;
}

.img_link:hover{
    transition: color 0.2s ease;
    color: rgb(48, 45, 209);
}

.img_and_descript img { 
    transition: transform 0.5s ease, filter 0.3s ease;
    filter: blur(0px) contrast(100%) brightness(100%);
}

.img_and_descript img:hover {
    transition: filter 0.5s ease, transform 1s ease;
    filter: blur(1px) contrast(120%) brightness(90%);
    transform: scale(0.98);
}




@media (min-aspect-ratio: 1/1) {

.image_grid{
    padding: 20vh 10vh 15vh 10vh;
    align-items: start;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    gap: 3vh;
}
.img{
    margin-bottom: 0.4vh;
    border-radius: 1.5vh;
}

}

@media (max-aspect-ratio: 1/1.5) {
    .image_grid{
        padding: 20vw 0px 15vw 0px;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100vw, 1fr));
        font-size: 1.5vh;
    }
    .img_and_descript{
        text-align: center;
    }
    .img{
        border-radius: 0;
    }
        
    
    .img_and_descript img:hover {
            filter: blur(0px) contrast(100%) brightness(100%);
    }
}
    
    