.testsquare{
    width: 10%;
    margin-left: 90%;
    align-content: center;
    text-align: center;
    background-color: rgba(226, 11, 11, 0.938);
    aspect-ratio: 1/1;
}

.anigo{
    animation: back 1s ease-in-out forwards;
   
}

.aniback{
    animation: go 1s ease-in-out forwards;
}

@keyframes back {
    0%{
        width: 10%;
        margin-left: 90%;
        align-content: center;
        text-align: center;
        background-color: rgba(226, 11, 11, 0.938);
        aspect-ratio: 1/1;
    }
    50%{
        margin-top: 50%;
    }
    100%{
        margin-top: 50%;
        animation: back 1s ease-in-out forwards;
        width: 10%;
        margin-left: 0%;
        align-content: center;
        text-align: center;
        background-color: rgba(226, 11, 11, 0.938);
        aspect-ratio: 1/1;
    }
    
}

@keyframes go {
    0%{
        width: 10%;
        margin-top: 50%;
        margin-left: 0%;
        align-content: center;
        text-align: center;
        background-color: rgba(226, 11, 11, 0.938);
        aspect-ratio: 1/1;
    }
    50%{
        margin-top: 50%;
    }
    100%{
        width: 10%;
        margin-left: 90%;
        align-content: center;
        text-align: center;
        background-color: rgba(226, 11, 11, 0.938);
        aspect-ratio: 1/1;
    }
    
}